*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: #f6f6a8;
  text-align: center;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

h1 {
  color: #2d79d6;
  font-family: 'Impact', sans-serif;
  font-style: bold;
  font-size: 500%;
  text-shadow: 3px 3px #084da2;
}

.card {
  background-color: #bbbbbb;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0px 5px #999999;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

h2 {
  background-color: #bbbbbb;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-header, .card-footer {
  background-color: #bbbbbb;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: #c61743;
  border-radius: 25px;
  box-shadow: 0px 4px #870223;
  color: #ffc6d4;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
  font-family: 'Lato', serif;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  background-color: white;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
